<div class="chat-container">
  <div #messageContainer class="message-container">
    <div #messageItems *ngFor="let message of messages">
      <div class="row" [ngClass]="{'own': !isOpponentMessage(message), 'opponent': isOpponentMessage(message)}">
        <div class="message">
          <div class="message-information">
            <div *ngIf="isOpponentMessage(message)" class="name"> OPPONENT </div>
            <div *ngIf="!isOpponentMessage(message)" class="name"> OWN </div>
            <div class="time">{{message.sent_at | amDateFormat: 'DD MMM YYYY HH:MM'}}</div>
          </div>
          <div class="text"> {{message.content}} </div>
        </div>
      </div>
    </div>
  </div>
  <div class="status" *ngIf="isReceivingMessage"> Opponent is typing ... </div>
  <div [formGroup]="form" class="input-field">
    <textarea formControlName="content" (keyup.enter)="sendMessage(form.value)" (keydown)="isTyping()" title=""></textarea>
    <a class="button" (click)="sendMessage(form.value)" [ngClass]="{'disabled': !isConnected}"> Send </a>
  </div>
</div>
