<div class="chat-container">
  <div #messageContainer class="message-container">
    <div #messageItems *ngFor="let message of messages">
      <div [ngSwitch]="message.type">
        <div *ngSwitchCase="'CONNECT'" class="row">
          <div class="system message">
            -
            <span *ngIf="isOpponentMessage(message)"> Opponent </span>
            <span *ngIf="!isOpponentMessage(message)"> You </span>
            joined the chat. -
          </div>
        </div>
        <div *ngSwitchCase="'DISCONNECT'" class="row">
          <div class="system message">
            -
            <span *ngIf="isOpponentMessage(message)"> Opponent </span>
            <span *ngIf="!isOpponentMessage(message)"> You </span>
            left the chat. -
          </div>
        </div>
        <div *ngSwitchCase="'MESSAGE'" class="row" [ngClass]="{'right-aligned': !isOpponentMessage(message), 'left-aligned': isOpponentMessage(message)}">
          <div class="chat message" [ngClass]="{'own': !isOpponentMessage(message), 'opponent': isOpponentMessage(message)}">
            <div class="message-information">
              <div *ngIf="isOpponentMessage(message)" class="name"> Opponent </div>
              <div *ngIf="!isOpponentMessage(message)" class="name"> You </div>
              <div class="time">{{message.sent_at | amDateFormat: 'DD MMM YYYY HH:MM'}}</div>
            </div>
            <div class="content"> {{message.content}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="status" *ngIf="isReceivingMessage"> Opponent is typing ... </div>
  <div [formGroup]="form" class="input-field">
    <textarea formControlName="content" (keyup.enter)="sendMessage(form.value)" (keydown)="isTyping()" title=""></textarea>
    <a class="button" (click)="sendMessage(form.value)" [ngClass]="{'disabled': !isConnected}"> Send </a>
  </div>
</div>
